<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BBMSP.Properties.Settings.BBMS_DBConnectionString"
            connectionString="Data Source=DESKTOP-N76I7DG\SQLEXPRESS;Initial Catalog=BBMS_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BBMSP.Properties.Settings.BBMS_DBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BBMS_DB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>